* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    background-image: url(../images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    width: auto;
    font-family: 'Poppins', sans-serif;
}

.text {
    color: #ffffff;
    margin-top: 20%;
}

.form-section {
    margin-top: 50px;
}

.top {
    border: 1px solid hsl(248, 32%, 49%);
    background-color: hsl(248, 32%, 49%);
    color: white;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 5%;
    text-align: center;
    padding-top: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    border: 0px solid #ffffff;
    background-color: #ffffff;
    height: 450px;
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    padding-top: 35px;
}

.form-group {
    position: relative;
}

input[type=text], input[type=email], input[type=password] {
    width: 80%;
    height: 50px;
    margin-left: 45px;
}

.btn {
    width: 80%;
    height: 50px;
    margin-left: 45px;
    background-color: hsl(154, 59%, 51%);
    border: hsl(154, 59%, 51%);
    color: #ffffff;
    text-align: center;
}

.btn:hover {
    background-color: hsl(154, 42%, 56%);
}

.error {
    font-size: 10px;
    text-align: right;
    margin-right: 50px;
    color: red;
    display: none;
}

.error-icon {
    position: absolute;
    top: 25%;
    right: 65px;
    display: none;
}

small {
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin-top: 15px;
    margin-left: 70px;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    margin-top: 50px;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}









/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }